 .header{
    text-align: center;
    /* background-color: azure; */
    font-size: 30px;
    margin-top: 0%;
    margin-left: 190px;
    margin-right: 190px;
    
} 

 .header {
    display: flex;
    align-items: center; /* Align items vertically */
 }
  
  .logo {
    margin-right: 10px; /* Add some space between the logo and the header text */
    width: 260px; /* Set the width of the logo */
    height: 220px; /* Maintain the aspect ratio of the logo */
  }
  